## Create SQLite DB using SQL Script

#### Read SQL Script

In [1]:
with open("emp_data.sql", 'r') as sql_file:
    sql_script = sql_file.read()

sql_script

"DROP TABLE IF EXISTS dept;\nDROP TABLE IF EXISTS salgrade;\nDROP TABLE IF EXISTS emp;\n\nCREATE TABLE salgrade(grade int(4) not null primary key, losal decimal(10,2), hisal decimal(10,2));\nCREATE TABLE dept(deptno int(2) not null primary key, dname varchar(50) not null, location varchar(50) not null);\nCREATE TABLE emp(empno int(4) not null primary key, ename varchar(50) not null, job varchar(50) not null, mgr int(4), hiredate date, sal decimal(10,2), comm decimal(10,2), deptno int(2) not null);\n\ninsert into dept values (10,'Accounting','New York');\ninsert into dept values (20,'Research','Dallas');\ninsert into dept values (30,'Sales','Chicago');\ninsert into dept values (40,'Operations','Boston');\n\ninsert into emp values (7369,'SMITH','CLERK',7902,'93/6/13',800,0.00,20);\ninsert into emp values (7499,'ALLEN','SALESMAN',7698,'98/8/15',1600,300,30);\ninsert into emp values (7521,'WARD','SALESMAN',7698,'96/3/26',1250,500,30);\ninsert into emp values (7566,'JONES','MANAGER',7839,'95/10/31',2975,null,20);\ninsert into emp values (7698,'BLAKE','MANAGER',7839,'92/6/11',2850,null,30);\ninsert into emp values (7782,'CLARK','MANAGER',7839,'93/5/14',2450,null,10);\ninsert into emp values (7788,'SCOTT','ANALYST',7566,'96/3/5',3000,null,20);\ninsert into emp values (7839,'KING','PRESIDENT',null,'90/6/9',5000,0,10);\ninsert into emp values (7844,'TURNER','SALESMAN',7698,'95/6/4',1500,0,30);\ninsert into emp values (7876,'ADAMS','CLERK',7788,'99/6/4',1100,null,20);\ninsert into emp values (7900,'JAMES','CLERK',7698,'00/6/23',950,null,30);\ninsert into emp values (7934,'MILLER','CLERK',7782,'00/1/21',1300,null,10);\ninsert into emp values (7902,'FORD','ANALYST',7566,'97/12/5',3000,null,20);\ninsert into emp values (7654,'MARTIN','SALESMAN',7698,'98/12/5',1250,1400,30);\n\ninsert into salgrade values (1,700,1200);\ninsert into salgrade values (2,1201,1400);\ninsert into salgrade values (3,1401,2000);\ninsert into salgrade values (4,2001,3000);\ninsert into salgrade values (5,3001,99999);"

#### Execute Script

In [2]:
import sqlite3

conn = sqlite3.connect("emp.db")
cursor = conn.cursor()
cursor.executescript(sql_script)
conn.commit()
conn.close()

#### List all tables

In [3]:
conn = sqlite3.connect("emp.db")

res = conn.execute("SELECT name FROM sqlite_master")
res.fetchall()

[('salgrade',),
 ('sqlite_autoindex_salgrade_1',),
 ('dept',),
 ('sqlite_autoindex_dept_1',),
 ('emp',),
 ('sqlite_autoindex_emp_1',)]

#### Query on Table

In [4]:
conn.execute("SELECT * from emp").fetchall()

[(7369, 'SMITH', 'CLERK', 7902, '93/6/13', 800, 0, 20),
 (7499, 'ALLEN', 'SALESMAN', 7698, '98/8/15', 1600, 300, 30),
 (7521, 'WARD', 'SALESMAN', 7698, '96/3/26', 1250, 500, 30),
 (7566, 'JONES', 'MANAGER', 7839, '95/10/31', 2975, None, 20),
 (7698, 'BLAKE', 'MANAGER', 7839, '92/6/11', 2850, None, 30),
 (7782, 'CLARK', 'MANAGER', 7839, '93/5/14', 2450, None, 10),
 (7788, 'SCOTT', 'ANALYST', 7566, '96/3/5', 3000, None, 20),
 (7839, 'KING', 'PRESIDENT', None, '90/6/9', 5000, 0, 10),
 (7844, 'TURNER', 'SALESMAN', 7698, '95/6/4', 1500, 0, 30),
 (7876, 'ADAMS', 'CLERK', 7788, '99/6/4', 1100, None, 20),
 (7900, 'JAMES', 'CLERK', 7698, '00/6/23', 950, None, 30),
 (7934, 'MILLER', 'CLERK', 7782, '00/1/21', 1300, None, 10),
 (7902, 'FORD', 'ANALYST', 7566, '97/12/5', 3000, None, 20),
 (7654, 'MARTIN', 'SALESMAN', 7698, '98/12/5', 1250, 1400, 30)]

In [6]:
conn.execute("SELECT * from emp where sal > 1800").fetchall()

[(7566, 'JONES', 'MANAGER', 7839, '95/10/31', 2975, None, 20),
 (7698, 'BLAKE', 'MANAGER', 7839, '92/6/11', 2850, None, 30),
 (7782, 'CLARK', 'MANAGER', 7839, '93/5/14', 2450, None, 10),
 (7788, 'SCOTT', 'ANALYST', 7566, '96/3/5', 3000, None, 20),
 (7839, 'KING', 'PRESIDENT', None, '90/6/9', 5000, 0, 10),
 (7902, 'FORD', 'ANALYST', 7566, '97/12/5', 3000, None, 20)]